*.o
Makefile
debian/*.ex
debian/files
debian/rfbproxy/
debian/rfbproxy.substvars
autom4te.cache/
debian/.debhelper/
debian/autoreconf.*
debian/debhelper-build-stamp
config.h
*~
*.log
*.status
.deps/
compile
rfbproxy
stamp-h1
test-driver
tests/run-tests.trs
aclocal.m4
config.guess
config.sub
config.h.in
configure
depcomp
install-sh
Makefile.in
missing
rfbproxy.spec
